<h1 class="display-4 text-center">Categories</h1>
<hr />
<div class="row">

    <form class="col-md-4 mb-5">
        <div class="form-group">

            <input type="hidden" [(ngModel)]="newCategory.CatID" name="CatID">

            <label>Category Name</label>
            <input type="text" class="form-control" placeholder="Enter Category Name ..."
                [(ngModel)]="newCategory.CatName" name="CatName" required />

        </div>

        <div class="form-group">
            <label>Select Parent</label>
            <select class="form-control" [(ngModel)]="newCategory.ParentID" name="ParentID">
                <option value="0">No Parent</option>
                <option *ngFor="let Cat of categories" [value]="Cat.CatID">{{Cat.CatName}}</option>
            </select>
        </div>


        <div class="form-group">
            <label>Select Features</label>

            <!-- <select class="form-control" [(ngModel)]="newCategory.CategoryFeatures" multiple name="CategoryFeatures">
                <option *ngFor="let f of features" [value]="f"  [selected]="f">{{f.FeatureName}}</option>
            </select> -->

            <mat-select [(ngModel)]="newCategory.CategoryFeatures" multiple name="CategoryFeatures">
                <mat-option *ngFor="let f of features; let i = index" [value]="f">
                    {{f.FeatureName}}
                </mat-option>
            </mat-select>
        </div>

        <!-- [selected]="f.FeatureID === newCategory.CategoryFeatures.FeatureID" -->
        <!-- name="Selected`" [(ngModel])="f.Selected" -->
        <!-- #f.Selected
            [checked] = "f.Selected" -->
        <!-- <div class="form-group">
            <label class="mr-3" *ngFor="let f of features">
                <input type="checkbox" f.Selected="ngModel" #f.Selected name="f.Selected"
                (change)="InsertChkList(f.FeatureID, f.Selected)" />
                {{f.FeatureName}}
            </label>
        </div> -->


        <button [disabled]="flag" class="btn btn-primary mr-3" (click)="AddNewCategory()">Add New Category</button>
        <button [disabled]="!flag" class="btn btn-info" (click)="UpdateCategory()">Update</button>

    </form>

    <table class="table table-responsive table-hover col-md-8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!categories || categories.length == 0" class="text-danger">
                <td>No Data Found</td>
            </tr>
            <tr *ngFor="let c of categories">
                <td>{{c.CatID}}</td>
                <td>{{c.CatName}}</td>
                <td>
                    <a class="mr-3" (click)="DeleteCategory(c.CatID)"><span
                            class="fa fa-trash fa-lg text-danger"></span></a>
                    <a (click)="DetailsCategory(c.CatID)"><span class="fa fa-edit fa-lg text-info"></span></a>
                </td>
            </tr>

        </tbody>
    </table>
</div>